body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  line-height: 1.4;
  color: #333;
  margin: 0;
  padding: 0;
}

.topnav {
  background-color: green;
  overflow: hidden;
}

.content {
  margin: 0 auto;
  padding: 1em;
  max-width: 60em;
}

h1,
h2,
strong {
  color: #111;
}

.topnav h1 {
  color: white;
  margin-left: 2em;
}

h2 {
  margin-top: 1em;
  padding-top: 1em;
}

p {
  text-indent: 2em;
}

figcaption {
  text-align: center;
}

/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #fbfbfb;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: #fbfbfb;
    color: #777;
    float: left;
    border: none;
    border-top: 3px solid #fbfbfb;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #efefef;
    color: #000;
    font-weight: bold;
}

/* Create an active/current tablink class */
.tab button.active {
    border-top: 3px solid green;
    background-color: #efefef;
    color: #000;
    font-weight: bold;
}

/* Style the tab content */
.tabcontent {
    display: none;
}

.reading {
  margin-bottom: 40px;
  transition: all .2s ease-out;
}

.reading:hover {
  background: #eee;
}

.reading-img {
  background: url(spinner.gif) 50% no-repeat;
  max-width: 20%;
  vertical-align: top;
  margin-right: 1em;
  display: inline;
}

.reading-info {
  vertical-align: middle;
  width: 70%;
  display: inline-block;
}

.reading-info p {
  text-indent: 0;
}

article {
  font-size: 1.25em;
  line-height: 1.62;
  font-family: 'Merriweather', Georgia, 'Times New Roman', Times, serif;
  max-width: 34em;
  margin: auto;
  padding: 0 1em;
}

article img {
  margin: 0 auto;
  display: block;
}

.show-img {
  display: block;
  max-height: 18em;
  margin: 0 auto 4em auto;
}

#date {
  font-weight: 900;
}

#brief-explanation {
  background-color: #EAFEEA;
  padding: 1em;
  text-indent: 0;
}

@media screen and (max-width: 25em) {
  article { font-size: 90%;}
}
